@charset "UTF-8";

span {
	color: red;
}

textarea {
	width: 90%;
	height: 100px;
}

div {
	margin-top: 20px;
	align: center;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid black;
}